<h4>Edit comment:</h4>

<%= form_for([@post, @comment]) do |f| %>
  <div class="field">
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %>
  </div>
<div class="field">
  <%=f.label :body%><br/>
  <%=f.text_field :body%>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
